<div class="container">
    <tr>
        <td>Username</td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td>Contact Person</td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td>Mobile Phone</td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td>Address</td>
        <td><input type="text"></td>
    </tr>
    <tr>
        <td>Email</td>
        <td><input type="text"></td>
    </tr>
    <tr>
        
        <td><button type="submit">Submit</button></td>
        <td><button type="submit">Reset</button></td>
    </tr>
   
</div>
